APP_NAME="Lucky Bags Production"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
DB_CONNECTION=sqlite
SESSION_DRIVER=file
SESSION_LIFETIME=480
CACHE_STORE=file
QUEUE_CONNECTION=sync
FACTORY_API_KEY=change-this-factory-key

SHOPIFY_STORE=h0yf1i-yt.myshopify.com
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
SHOPIFY_API_VERSION=2026-07
GOOGLE_DRIVE_ARTWORK_ROOT_ID=1WINKlgMI9U6PXzwoyWx4cN8iB4l-Q5lt
GOOGLE_SERVICE_ACCOUNT_FILE=service-account.json
