/vendor/
.env
/database/*.sqlite
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/automation/.venv/
/automation/service-account.json
/factory_print/
service-account.json
factory_print/
automation/.venv/
/automation/.env
/automation/logs/
/automation/factory_print/
/automation/dist/
/automation/__pycache__/
/automation/*.pyc
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
factory_edgeprint_test/
.gitignore
