PRODUCTION_API=https://lucky-production-automation.swartup.com/api
FACTORY_API_KEY=CHANGE_ME

GOOGLE_SERVICE_ACCOUNT_FILE=C:\LuckyBagsFactory\service-account.json
FACTORY_PRINT_DIR=C:\LuckyBagsFactory\factory_print

POLL_SECONDS=30
LOCAL_RETENTION_HOURS=72

EDGE_PRINT_HOT_FOLDER=C:\LuckyBagsFactory\edgeprint\incoming

REQUIRED_AGENT_VERSION=
REQUIRED_AGENT_SHA256=